@font-face {
    font-family: FreeSans-Regular;
    src: url(./fonts/FreeSans.ttf);
}

@font-face {
    font-family: FreeSans-Bold;
    src: url(./fonts/FreeSansBold.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Black;
    src: url(./fonts/Roboto-Black.ttf);
}




.padding-15 {
    padding: 15px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}



.highlight {
    font-size: 13pt;
    font-family: "Roboto-Regular";
    font-weight: 700;
    color: #eeeeee;
}

.text-body {
    font-size: 13pt;
    font-family: "Roboto-Regular";
    font-weight: 500;
    color: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    display: flex;
    flex-direction: column;
    background-color: #627173;
}

ul li a {
    padding: 2vh;   /*padding between header options*/
    text-decoration: none; 
    color: #000000;
    text-align: center;
}


.navigation-container{ 
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    background-color: #495B73;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.searchbar-and-buttons-container {
    display: flex;
    flex-direction: row;
}

.logo img {
    display: flex;
    align-self: center;
    width: 100%;
    max-width: 65px;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    width: 55px;
    height: 55px;
}

.navigations {
    display: flex;
    align-items: center;
}

.navigations a {
    text-decoration: none;
    color: #eeeeee;
}

.searchbar {
    display: flex;
    align-content: center;
    align-items: center;
}

.searchbar i {
    color: #eeeeee;
}




