@font-face {
    font-family: FreeSans-Regular;
    src: url(./fonts/FreeSans.ttf);
}

@font-face {
    font-family: FreeSans-Bold;
    src: url(./fonts/FreeSansBold.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Black;
    src: url(./fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: EncodeSans-Condensed;
    src: url(./fonts/EncodeSansCondensed-ExtraBold.ttf);
}


@font-face {
    font-family: Inter-Regular;
    src: url(./fonts/Inter-Regular.ttf);
}




.padding-15 {
    padding: 15px;
}

.padding-30 {
    padding: 30px;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-25 {
    gap: 25px;
}

.page-title {
    font-size: 20pt;
    font-family: "FreeSans-Bold";
    padding-left: 20px;
    color: #161616;
}

.catchphrase {
    font-size: 20pt;
    font-family: "FreeSans-Bold";
    font-weight: 700;
}

.title {
    font-size: 20pt;
    font-family: "FreeSans-Bold";
    font-weight: 700;
}

.highlight {
    font-size: 13pt;
    font-family: "FreeSans-Regular";
    font-weight: 600;
}

.text-body {
    font-size: 12pt;
    font-family: "Inter-Regular";
    font-weight: 500;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
}

ul li a {
    padding: 2vh;   /*padding between header options*/
    text-decoration: none; 
    color: #000000;
    text-align: center;
}


.header-container{ 
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 2px solid #707070;
    z-index: 1;
}

.navigations-container {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}

.logo img {
    display: flex;
    align-self: center;
    max-width: 103px;
    height: 58px;
}

.logo {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.navigations {
    display: flex;
    align-items: center;
}

.navigations a {
    text-decoration: none;
    color: #0D0D0C;
}



.mini-searchbar {
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 6px;
    border-radius: 17px;
    padding: 6pt;
    outline: none;
    border: 2px solid #0D0D0C;
    font-size: 12pt;
}


input[type=text]:focus {outline:none;}



.searchbar {
    display: flex;
    align-content: center;
    align-items: center;
    color: #0D0D0C;
}


.catchphrase-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    width: auto;
    height: auto;
    padding-top: 65px;
}

.experience-containter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: auto;
    height: auto;
}

.experience-containter img {
    max-width: 100%;
    max-height: auto;
}


.experience-title-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: auto;
    height: auto;
    padding: 10px;
}

.experience-title-container p {
    padding-left: 50px;
}


.experience-containter img {
    border-radius: 20px;
}


.recents-container {
    width: auto;
    height: 400px;
    background-color: #f2f2f2;
    padding: 20px;
}


.footer {
    width: auto;
    height: 300px;
    background-color: #4A5859;
    border-top: 2px solid #161616;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-logo {
    width: 120px;
    height: auto;
}

.footer h1 {
    color: #eeeeee;
}



input {
    font-size: 13pt;
}

.button {
    background-color: #1a1c1c; /* Green */
    color: rgb(252, 252, 252);
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: fit-content;
    border: 2px solid black;
  }

.button:hover {
    opacity: 0.9;
}


.movie-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 700px;
    padding-top: 65px;
}

.movie-info-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: auto;
    height: auto;
    gap: 15px;
}

.poster-container img{
    width: 300px;
    height: auto;
}

.poster-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.title-director-container {
    display: flex;
    flex-direction: column;
}

.movie-description-container {
    max-width: 420px;
    height: auto;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    color: rgb(218, 193, 51);
}


.all-movies-container {
    display: flex;
    padding-top: 70px;
    width: auto;
    height: auto;
    flex-direction: column;
}

.all-movies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
}

.all-movies img{
    width: 230px;
    height: auto;
}

.all-movies img:hover{
    opacity: 0.8;
}